/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
   jobName = { "$task.tag" }
   queueSize = 40
}

params {
  home = "$HOME"
  db_dir = home + "/databases"
  reads = home + "/lus/Data/CRANE_test/*R{1.2}.fastq"
  referenceAln = home + "/databases/silva.nr_v132.align"
  referenceTax = home + "/databases/silva.nr_v132.tax"  
}

process {
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'kill.q'

   errorStrategy = "retry"
   maxErrors = 2

   withLabel: low_computation {
   	      cpus = 4
	      memory = 13.GB
	      time = '8h'
	      queue = 'kill.q,community.q'
	      }

   withLabel: medium_computation {
   	      cpus = 20
	      memory = 64.GB
	      time = '3d'
	      queue = 'kill.q,community.q'
	      }
   withLabel: high_computation {
   	      cpus = 20
	      memory = 128.GB
	      time = '3d'
	      queue = 'kill.q'
   }	      
}	

process {
   withName: FilterAndTrim {
   	     module="lang/R/3.5.1"
   }
   withName: LearnErrors {
   	     module="lang/R/3.5.1"
   }
   withName: Denoise {
   	     module="lang/R/3.5.1"
   }
   withName: Esv {
   	     module="lang/R/3.5.1"
   }   
   withName: MultipleSequenceAlignment {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: ChimeraRemoval {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: Subsampling {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: Clustering {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: ConsensusClassification {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: PreLulu {
   	     module="bioinfo/torognes/vsearch/2.7.1"
   }
   withName: Lulu {
   	     module="lang/R/3.5.1"
   }
   withName: SingletonFilter {
   	     module="wip/python/3.5.1/python"
   }
   withName: TaxaFilter {
   	     module=["bioinfo/mothur/1.39.3","wip/python/3.5.1/python"]
   }
   withName: Results {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: SummaryFile {
   	     module="wip/python/3.5.1/python"
   }

}

