/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
   jobName = { "$task.tag" }
   queueSize = 40
}

params {
  home = "$HOME"
  script_dir = home + "/projects/Bio-pipelines/16S-pipeline/scripts"
  data_dir = home + "/data"
  db_dir = home + "/databases"
  referenceAln = home + "/databases/silva.nr_v132.align"
  referenceTax = home + "/databases/silva.nr_v132.tax"  
}

process {
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'kill.q'

   errorStrategy = "retry"
   maxErrors = 5

   withLabel: low_computation {
   	      cpus = 4
	      memory = 13.GB
	      time = '8h'
	      queue = 'kill.q,community.q'
	      }

   withLabel: medium_computation {
   	      cpus = 20
	      memory = 64.GB
	      time = '3d'
	      queue = 'kill.q,community.q'
	      }
   withLabel: high_computation {
   	      cpus = 40
	      memory = 128.GB
	      time = '3d'
	      queue = 'lm.q'
   }	      
}	

process {
   withName: runFastQC {
   	     module="bioinfo/fastQC/0.11.4"
   }
   withName: FilterAndTrim {
   	     module="lang/R/3.5.1"
   }
   withName: LearnErrors {
   	     module="lang/R/3.5.1"
   }
   withName: Denoise {
   	     module="lang/R/3.5.1"
   }
   withName: Deunique{
   	     module="wip/python/3.5.1/python"
   }
   withName: Readsmerging {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: Screening {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: Dereplication {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: MultipleSequenceAlignment {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: ChimeraRemoval {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: TaxaFiltering {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: Subsampling {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: Clustering {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: PreClassification {
   	     module="bioinfo/mothur/1.39.3"
   }
   withName: CleanTables {
   	     module="wip/python/3.5.1/python"
   }
   withName: PreLulu {
   	     module="bioinfo/torognes/vsearch/2.7.1"
   }
   withName: Lulu {
   	     module="lang/R/3.5.1"
   }
   withName: FilterFasta {
   	     module="wip/python/3.5.1/python"
   }
}

