/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
   jobName = { "$task.tag" }
   queueSize = 40
}

params {
  referenceAln = "./database/silva.nr_v132.align"
  referenceTax = "./database/silva.nr_v132.tax"  
}

process {
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'kill-shared'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 13.GB
	      time = '8h'
	      queue = 'kill-shared,exclusive'
	      }

   withLabel: medium_computation {
   	      cpus = 20
	      memory = 64.GB
	      time = '3d'
	      queue = 'kill-shared'
	      }
   withLabel: high_computation {
   	      cpus = 20
	      memory = 128.GB
	      time = '3d'
	      queue = 'kill-shared'
   }	      
}	

process {
   withName: FilterAndTrim {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: LearnErrors {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: Denoise {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: Esv {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }   
   withName: MultipleSequenceAlignment {
   	     module="bio/Mothur/1.41.0-foss-2018b-Python-2.7.15"
   }
   withName: ChimeraRemoval {
   	     module="bio/Mothur/1.41.0-foss-2018b-Python-2.7.15"
   }
   withName: Subsampling {
   	     module="bio/Mothur/1.41.0-foss-2018b-Python-2.7.15"
   }
   withName: Clustering {
   	     module=["bio/Mothur/1.41.0-foss-2018b-Python-2.7.15",
		     "bio/VSEARCH/2.9.1-foss-2018b"]
   }
   withName: ConsensusClassification {
   	     module="bio/Mothur/1.41.0-foss-2018b-Python-2.7.15"
   }
   withName: PreLulu {
   	     module="bio/VSEARCH/2.9.1-foss-2018b"
   }
   withName: Lulu {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: SingletonFilter {
   	     module="lang/Python/3.7.2-GCCcore-8.2.0"
   }
   withName: TaxaFilter {
   	     module=["bio/Mothur/1.41.0-foss-2018b-Python-2.7.15",
	             "lang/Python/3.7.2-GCCcore-8.2.0"]
   }
   withName: Results {
   	     module="bio/Mothur/1.41.0-foss-2018b-Python-2.7.15"
   }
   withName: SummaryFile {
   	     module="lang/Python/3.7.2-GCCcore-8.2.0"
   }

}

