/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
   jobName = { "$task.tag" }
   queueSize = 40
}

params {
  referenceAln = "./database/silva/silva.nr_v132.align"
  referenceTax = "./database/silva/silva.nr_v132.tax"  
}

process {
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'kill.q'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 13.GB
	      time = '8h'
	      queue = 'kill.q,exclusive.q'
	      }

   withLabel: medium_computation {
	      cpus = 20
	      memory = 64.GB
	      time = '3d'
	      queue = 'kill.q'
	      }
   withLabel: high_computation {
	      cpus = 20
	      memory = 128.GB
	      time = '3d'
	      queue = 'kill.q'
   }	      
}

