/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat

// Pipeline Options
params {
  outdir = "$PWD/" + "ITS-pipeline_outputs/"

  // database
  db_dir = "${PWD}/databases"
  uniteDB = db_dir + "/unite_all_eukaryotes.fasta"

  // Are reads paired-end?
  pairedEnd = false
  // Which locus?
  locus = "ITS1"
  // Quality filtering
  // keeps reads with {minPercentHighQ} % of bases above {minQuality}
  minQuality = 25
  minPercentHighQ = 90
  // minimum read length
  minLen = 20
  // Minimum sample sizes
  minReads = 50
  minDerep = 5
  clusteringThresholds = "100,97"
  // Confidence confidence threshold for taxonomic assignment
  confidenceThresh = 0.5

  // LULU parameters for merging a parent and a daughter OTU
  min_ratio_type = "min" // Function to compare the abundance of a parent OTU and its daughter (default: abundance=min(abundances over samples))
  min_ratio = 1 // Minimum abundance ratio between parent and daughter (across all samples)
  min_match = 97 // Identity between parent and daughter (max=100)
  min_rel_cooccurence = 1 // Proportion of the parent samples where daughter occurs (max=1)
}

profiles {
  local {
    includeConfig '../conf/container.config'
	includeConfig '../conf/local.config'
  }
  local_test {
    includeConfig '../conf/container.config'
	includeConfig '../conf/local_test.config'
  }
  hpc {
  	includeConfig '../conf/container.config'
    includeConfig '../conf/hpc.config'
  }
  hpc_test {
    includeConfig '../conf/container.config'
	includeConfig '../conf/hpc_test.config'
  }
  gcp {
    includeConfig '../conf/container.config'
    includeConfig '../conf/gcp.config'
  }
  hpc_modules {
	includeConfig '../conf/uhm_modules.config'
	includeConfig '../conf/hpc.config'
  }
  hpc_modules_test {
	includeConfig '../conf/uhm_modules.config'
	includeConfig '../conf/hpc_test.config'
  }    
}
