/*
 * ------------------------------------------------
 *  University of Hawaii at Manoa HPCC config file
 * ------------------------------------------------
 *
 */

params {
    script_dir = "${PWD}/scripts"
    bin_path = "${PWD}/binaries"
}

env{
    PYTHONPATH = params.script_dir + ":${PWD}/python-packages:${PYTHONPATH}"
    R_LIBS_USER = "${PWD}/R-packages"
}

process {
    stageInMode = 'rellink'
    stageOutMode = 'move'

    beforeScript = "export PATH=${PATH}:${params.bin_path}"

    withLabel: r_script {
        module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
    }

    withLabel: python_script {
        module = "lang/Python/3.7.2-GCCcore-8.2.0"
    }

    withName: QcFilter {
        module = "bio/FASTX-Toolkit/0.0.14"
    }

    withName: Fastqc {
        module = "bio/FastQC/0.11.8-Java-1.8.0_191"
    }

    withName: ExtractITS {
        module=[
        "lang/Python/3.7.2-GCCcore-8.2.0",
        "bio/HMMER/3.2.1-foss-2018b",
        "bio/BBtools/38.46"
        ]
    }
}