/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat
params {
  name = false
  root_dir = "/home/cedric"
  scripts = root_dir + "/C-MAIKI/1-Bacteria/16S-pipeline/scripts"
  // Pipeline Options
  
  reads = root_dir + "/C-MAIKI/1-Bacteria/test-data/*{1,2}.fastq"
  referenceAln = root_dir + "/Craig_metagenomics/silva.seed_v128.align"
  referenceTax = root_dir + "/Craig_metagenomics/silva.seed_v128.tax"
  referenceVSEARCH = root_dir + "/C-MORE_metagenomics/data/db/refseq_bacteria_genomes/refseq_bacterial_db.fna"

  timestamp = new SimpleDateFormat("yyyy-MM-dd").format(new java.util.Date())
  outdir = "./" + timestamp + "-16S-results"
  errorsHandling = "terminate"
  
  // Quality filtering
  minLength = 200
  criteria = 95
  taxaFilter=1
  maxAmbig=2
  minOverlap=25
  revRead=1
  maxEE='Inf'

  // Taxonomy
  distCutoff=0.1
  taxaMinId = 0.75
}

profiles {
  manoa{
    includeConfig 'conf/manoa_hpc.config'
  }
  local{
    includeConfig 'conf/base.config'  
  }  
}