/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat

profiles {
  hpc{
    includeConfig 'conf/manoa_hpc.config'
  }
  radis{
    includeConfig 'conf/radis.config'
  }
  poire{
    includeConfig 'conf/poire.config'
  }  
  base{
    includeConfig 'conf/base.config'  
  }  
}

params {

  timestamp = new SimpleDateFormat("yyyy-MM-dd").format(new java.util.Date())
  outdir = "./" + timestamp + "-16S-results"
  errorsHandling = "terminate"
  
  // Quality filtering
  minLength = 200 // minReadLength in filterAndTrim
  criteria = 95 // mothur optimization criteria
  taxaFilter = 0 // whether filter a specific taxon
  revRead = 1 // use reverse read or not
  maxEE = 'Inf' // min expected error rate

  // Taxonomy
  // taxaMinId = 0.8
}

timeline {
  enabled=true
}

report {
  enabled=true
}