/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat

profiles {
  hpc{
    includeConfig 'conf/manoa_hpc.config'
  }
  radis{
    includeConfig 'conf/radis.config'
  }
  poire{
    includeConfig 'conf/poire.config'
  }  
  base{
    includeConfig 'conf/base.config'  
  }  
}

params {

  timestamp = new SimpleDateFormat("yyyy-MM-dd").format(new java.util.Date())
  outdir = "./" + timestamp + "-16S-results"
  errorsHandling = "terminate"
  
  // Quality filtering
  minLength = 200
  criteria = 95
  taxaFilter = 0
  maxAmbig = 2
  minOverlap = 25
  revRead = 1
  maxEE = 'Inf'

  // Taxonomy
  distCutoff = 0.1
  taxaMinId = 0.8
}

timeline {
  enabled=true
}

report {
  enabled=true
}