/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
  script_dir = "/workspace"
  outdir = "$PWD/" + "demultiplexed"
  
  max_mismatches = 3
  n_per_file = 1e5
  n_bases = 1e5
  matching = "auto"
  single_barcode = false
  single_end = false
  rc_rev_index = false
}

includeConfig "../conf/base.config"
