/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat

params {
  outputdir = "$PWD/" + "demultiplexed"
  max_mismatches = 1
  nsplits = 20
  matching = "guess"
  multimap = "best"
}

profiles {
  manoa_hpc{
    includeConfig '../conf/manoa_hpc.config'
  }
  local{
    includeConfig '../conf/local.config'
  }
  docker{
    includeConfig '../conf/docker.config'
  }
  gcp{
    includeConfig '../conf/gcp.config'
  }  
}

