/*
* -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 *
 */

params {
    db_dir = "${PWD}/databases"
    script_dir = "${PWD}/scripts"

    referenceAln = db_dir + "/silva.nr_v132.align"
    referenceTax = db_dir + "/silva.full_v132.tax"
    uniteDB = db_dir + "/unite_all_eukaryotes.fasta"

    bin_path = "${PWD}/binaries"
}

env{
    PYTHONPATH = params.script_dir + ":${PWD}/python-packages:${PYTHONPATH}"
    R_LIBS_USER = "${PWD}/R-packages"
}

executor{
    jobName = {"$task.tag"}
    queueSize = 40
}

tower {
    enabled = false
}

process {
    executor = 'slurm'
    stageInMode = 'rellink'
    stageOutMode = 'move'
    queue = 'shared,shared-long,exclusive,exclusive-long,kill-shared,kill-exclusive'
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
    maxRetries = 2

    beforeScript = "export PATH=${PATH}:${params.bin_path}"

	withLabel: low_computation {
		 cpus = {3 * task.attempt}
		 memory = {16.GB * task.attempt}
		 time = {1.h * task.attempt}
	}

	withLabel: medium_computation {
		 cpus = {5 * task.attempt}
		 memory = {30.GB * task.attempt}
		 time = {2.h * task.attempt}
	}

	withLabel: high_computation {
		 cpus = {10*(task.attempt==1 ? 1 : 0) + 19*(task.attempt>1 ? 1 : 0)}
		 memory = {60.GB*(task.attempt==1 ? 1 : 0) + 120.GB*(task.attempt==2 ? 1 : 0) + 500.GB*(task.attempt==3 ? 1 : 0)}
		 time = {3.h*(task.attempt==1 ? 1 : 0) + 12.h*(task.attempt==2 ? 1 : 0) + 24.h*(task.attempt==3 ? 1 : 0)}
	}

	withLabel: r_script {
		 module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
	}

	withLabel: python_script {
		 module = "lang/Python/3.7.2-GCCcore-8.2.0"
	}

	withName: QcFilter {
		 module = "bio/FASTX-Toolkit/0.0.14"
	}

	withName: Fastqc {
		 module = "bio/FastQC/0.11.8-Java-1.8.0_191"
	}

	withName: ExtractITS {
		 module=[
		 "lang/Python/3.7.2-GCCcore-8.2.0",
		 "bio/HMMER/3.2.1-foss-2018b",
		 "bio/BBtools/38.46"
		 ]
	}
}