/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */
 
params {
  db_dir = "${PWD}/databases"
  script_dir = "${PWD}/scripts"

  referenceAln = db_dir + "/silva.nr_v132.align"
  referenceTax = db_dir + "/silva.full_v132.tax"
  uniteDB = db_dir + "/unite_all_eukaryotes.fasta"  
}

env{
   PYTHONPATH = params.script_dir + ":${PWD}/python-packages/:${PYTHONPATH}"
   R_LIBS_USER = "${PWD}/R-packages"
}

executor{
   jobName = { "$task.tag" }
   queueSize = 20
}

process {
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'shared'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 16.GB
	      time = '1h'
	      queue = 'shared,exclusive,kill-shared'
	      }

   withLabel: medium_computation {
   	      cpus = 10
	      memory = 32.GB
	      time = '3h'
	      queue = 'shared,exclusive,kill-shared'
	      }
   withLabel: high_computation {
   	      cpus = 19
	      memory = 120.GB
	      time = '1d'
	      queue = 'shared,exclusive,kill-shared'
   }	      
}	

process {
   withLabel: mothur_script {
   	      beforeScript="module purge"
	      module="bio/Mothur/1.42.0-foss-2018b-Python-2.7.15"
   }

   withLabel: r_script {
   	      module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }

   withLabel: python_script {
   	      module = "lang/Python/3.7.2-GCCcore-8.2.0"
   }

   withLabel: require_vsearch {
   	      module="bio/VSEARCH/2.11.1"
   }
}

// Specific requirements for some processes
process {
   withName: QcFilter {
   	     module="bio/FASTX-Toolkit/0.0.14"
   }
   
   withName: ExtractITS {
   	     module=["lang/Python/3.7.2-GCCcore-8.2.0",
		     "bio/VSEARCH/2.9.1-foss-2018b",
		     "bio/HMMER/3.2.1-foss-2018b",
		     "bio/BBtools/38.46"]
   }

   withName: "ChimeraRemoval|Clustering" {
             beforeScript="module purge"   
   	     module=["bio/Mothur/1.41.0-foss-2018b-Python-2.7.15",
	             "bio/VSEARCH/2.11.1"]
   }
}

