singularity {
   enabled = true
   cacheDir = "/scratch/lus"
}

executor{
   jobName = { "$task.tag" }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 20
  max_time = 24.h
}

process {
   // $runFastQC.container='/home/carisdak/progs/h3abionet16S/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   // $runMultiQC.container='/home/carisdak/progs/h3abionet16S/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   // $runFastQC_postfilterandtrim.container='/home/carisdak/progs/h3abionet16S/singularity-containers/h3abionet_org_h3a16s-fastqc.img';
   // $runMultiQC_postfilterandtrim.container='/home/carisdak/progs/h3abionet16S/singularity-contOBainers/h3abionet_org_h3a16s-fastqc.img';

   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'kill.q'
   // clusterOptions = { "-M $params.email -m abe -l nodes=1:ppn=1:series600" }
   // clusterOptions = { "-M $params.email -m abe" }

}
