/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
  queueSize = 40
}

params {
  home = "$HOME"
  scripts = home + "/projects/HIDSI/1-Pipelines/16S-pipeline/scripts"
  db_dir = home + "/databases"

  //reads = home + "/projects/HIDSI/0-Data/Craig_Mock/*R{1,2}*.fastq"
  reads = home + "/projects/HIDSI/0-Data/CRANE2016/demux/*R{1,2}*.fastq"
  referenceAln = db_dir + "/silva.nr_v132.align"
  referenceTax = db_dir + "/silva.nr_v132.tax"
}

process {
   executor = 'local'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 16.GB
	      time = '2h'
	      }

   withLabel: medium_computation {
   	      cpus = 8
	      memory = 128.GB
	      time = '1d'
	      }
   withLabel: high_computation {
   	      cpus = 50
	      memory = 256.GB
	      time = '3d'
   }
}

