/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

params {
  db_dir = "${PWD}/databases"
  script_dir = "${PWD}/scripts"

  referenceAln = db_dir + "/silva.nr_v132.align"
  referenceTax = db_dir + "/silva.full_v132.tax"
  uniteDB = db_dir + "/unite_all_eukaryotes.fasta"  
}

env {
    PYTHONPATH = params.script_dir + ":${PYTHONPATH}"
}

executor{
  jobName = { "$task.tag" }
  queueSize = 40
}

process {
   executor = 'local'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 16.GB
	      time = '2h'
	      }

   withLabel: medium_computation {
   	      cpus = 8
	      memory = 32.GB
	      time = '1d'
	      }
   withLabel: high_computation {
   	      cpus = 20
	      memory = 128.GB
	      time = '3d'
   }

   withName: ChimeraRemoval {
       beforeScript = "export MOTHUR=$HOME/.local/src/mothur_1-41-3"
   }
}

