/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
  queueSize = 20
}

params {
  home = "$HOME"
  scripts = home + "/projects/Bio-pipelines/16S-pipeline/scripts"
  db_dir = home + "/databases"

  reads = home + "/data/16S_testdata/*{1,2}.fastq"
  
  referenceAln = db_dir + "/silva.seed_v128.align"
  referenceTax = db_dir + "/silva.seed_v128.tax"
  referenceVSEARCH = db_dir + "/refseq_bacterial_db.fna"
}

process {
   executor = 'local'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   withLabel: low_computation {
   	      cpus = 3
	      memory = 8.GB
	      time = '2h'
	      }

   withLabel: medium_computation {
   	      cpus = 6
	      memory = 128.GB
	      time = '1d'
	      }
   withLabel: high_computation {
   	      cpus = 50
	      memory = 256.GB
	      time = '3d'
   }
}