/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
  queueSize = 10
}

params {
  home = "$HOME"
  scripts = home + "/C-MAIKI/1-Bacteria/16S-pipeline/scripts"
  db_dir = home + "/C-MAIKI/0-Databases"

  //reads = home + "/C-MAIKI/0-Data/16S_testdata/*{1,2}.fastq"
  reads = home + "/C-MAIKI/0-Data/Craig_Mock/*R{1,2}*.fastq"
  
  referenceTax = db_dir + "/silva.nr_v132.tax"
  referenceAln = db_dir + "/silva.nr_v132.align"
}

process {
   executor = 'local'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   errorStrategy = "terminate"

   withLabel: low_computation {
   	      cpus = 3
	      memory = 8.GB
	      time = '2h'
	      }

   withLabel: medium_computation {
   	      cpus = 6
	      memory = 30.GB
	      time = '1d'
	      }
   withLabel: high_computation {
   	      cpus = 50
	      memory = 30.GB
	      time = '3d'
   }
}
