/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat
params {
  meta = ""
  outdir = "$PWD/" + "16S-pipeline_outputs/"
  singleEnd = false // use reverse read or not

  // Pre-filtering
  minReads = 50

  // Dada2 quality filtering
  truncLen = "250,170"
  minLength = 20
  maxEE = 3
  truncQ = 2
  keepPhix = false

  // Dada2 merging parameters
  minOverlap = 20
  maxMismatch = 2
  
  // Mothur parameters
  criteria = 95 // mothur optimization criteria
  minAlnLen = 50
  taxaToFilter = "Bacteria;Proteobacteria;Alphaproteobacteria;Rickettsiales;Mitochondria;-Bacteria;Cyanobacteria;Oxyphotobacteria;Chloroplast;-unknown;" // set to empty string for no filter
  subsamplingQuantile = 0.10 // (min=0, max=1)
  minSubsamplingLevel = 5000
  customSubsamplingLevel = -1
  skipSubsampling = false

  clusteringThresholds = "100,97"

  // LULU parameters for merging a parent and a daughter OTU
  min_ratio_type = "min" // Function to compare the abundance of a parent OTU and its daughter (default: abundance=min(abundances over samples))
  min_ratio = 1 // Minimum abundance ratio between parent and daughter (across all samples)
  min_match = 97 // Identity between parent and daughter (max=100)
  min_rel_cooccurence = 1 // Proportion of the parent samples where daughter occurs (max=1)

  // Postprocessing filters
  minAbundance = 2 // Remove OTUs with a total abundance equal or below {minAbundance}
}

profiles {
  manoa_hpc{
    includeConfig '../conf/manoa_hpc.config'
  }
  test_manoa_hpc{
    includeConfig '../conf/test_manoa_hpc.config'
  }  
  local{
    includeConfig '../conf/local.config'
  }
  singularity{
    includeConfig '../conf/singularity.config'
  }
  singularity_test{
    includeConfig '../conf/singularity_test.config'
  }
  gcp{
    includeConfig '../conf/gcp.config'
  }  
}

