/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

params {
  db_dir = "${PWD}/databases"
  script_dir = "/workspace"

  referenceAln = db_dir + "/silva.nr_v132.align"
  referenceTax = db_dir + "/silva.full_v132.tax"
  uniteDB = db_dir + "/unite_all_eukaryotes.fasta"  
}

env{
  PYTHONPATH = params.script_dir + ":${PWD}/python-packages/:${PYTHONPATH}"
}

executor{
  jobName = { "$task.tag" }
  queueSize = 4
}

docker {
   enabled = true
   sudo = true
}

cloud {
      driver = 'google'
}

google {
       project = 'c-maiki-pipelines'
       zone = 'us-west2-a,us-west2-b'
}

process {
    executor = 'google-pipelines'

    stageInMode = 'rellink'
    stageOutMode = 'rsync'

    withLabel: low_computation {
	  machineType = 'n1-highmem-2'
    }
    withLabel: medium_computation {
	  machineType = 'n1-highmem-4'
    }
    withLabel: high_computation {
	  machineType = 'n1-highmem-8'
    }
}	

process {
   withLabel: mothur_script {
   	      container = 'nakor/mothur_pipeline'
   }
   withLabel: r_script {
   	      container = 'nakor/r_libs_pipeline'
   }
   withLabel: python_script {
   	      container = 'nakor/python_libs_pipeline'
   }
   withLabel: require_vsearch {
   	      container = 'nakor/python_libs_pipeline'
   }
}

process {
   withName: QcFilter {
   	     container = 'alexcoppe/fastx'
   }
   withName: ExtractITS {
   	     container = 'nakor/python_libs_pipeline'
   }
}