/*
* ---------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * --------------------------------------------------
 *
 */

executor {
    jobName = {"$task.tag"}
    queueSize = 40
}

process {
    executor = 'slurm'
    queue = 'shared,shared-long,exclusive,exclusive-long,kill-shared,kill-exclusive'
    module = 'tools/Singularity/3.1.1'

    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
    maxRetries = 2

    withLabel: low_computation {
        cpus = {3 * task.attempt}
        memory = {16.GB * task.attempt}
        time = {1.h * task.attempt}
    }

    withLabel: medium_computation {
        cpus = {5 * task.attempt}
        memory = {30.GB * task.attempt}
        time = {2.h * task.attempt}
    }

    withLabel: high_computation {
        cpus = {10*(task.attempt==1 ? 1 : 0) +
                19*(task.attempt>1 ? 1 : 0)}
        memory = {60.GB*(task.attempt==1 ? 1 : 0) +
                  120.GB*(task.attempt==2 ? 1 : 0) +
                  500.GB*(task.attempt==3 ? 1 : 0)}
        time = {3.h*(task.attempt==1 ? 1 : 0) +
                12.h*(task.attempt==2 ? 1 : 0) +
                24.h*(task.attempt==3 ? 1 : 0)}
    }
}