/*
 * -----------------------------------------------------
 *  University of Hawaii at Manoa HPCC test config file
 * -----------------------------------------------------
 *
 */

executor{
    jobName = {"$task.tag"}
    queueSize = 3
}

process {
    executor = 'slurm'
    queue = 'shared,shared-long,exclusive,exclusive-long,kill-shared,kill-exclusive'
	module = 'tools/Singularity/3.1.1'

    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
    maxRetries = 2

	withLabel: low_computation {
		 cpus = 1
		 memory = 4.GB
		 time = 3.m
	}

	withLabel: medium_computation {
		 cpus = 2
		 memory = 8.GB
		 time = 6.m
	}

	withLabel: high_computation {
		 cpus = 3
		 memory = 16.GB
		 time = 30.m
	}
}