/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

params.script_dir = "/workspace"

env {
   PYTHONPATH = params.script_dir + ":${PYTHONPATH}"
}

singularity {
   enabled = true
   cacheDir = "${HOME}/.singularity_images.cache"
}

process {
   stageInMode = 'rellink'
   stageOutMode = 'rsync'
   container = 'nakor/pipeline-env'
}	

process {
   withName: QcFilter {container = 'alexcoppe/fastx'}
   withName: FastTree {container = 'pegi3s/fasttree'}
}
