/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

params {
  script_dir = "/workspace"
}

executor{
  jobName = { "$task.tag" }
  queueSize = 4
}

env {
   PYTHONPATH = params.script_dir + ":${PYTHONPATH}"
}

singularity {
   enabled = true
   cacheDir = "${HOME}/.singularity_images.cache"
}

process {
   executor = 'local'
   stageInMode = 'rellink'
   stageOutMode = 'rsync'
   container = 'nakor/pipeline-env'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 16.GB
	      time = '1h'
	      }

   withLabel: medium_computation {
   	      cpus = 10
	      memory = 32.GB
	      time = '3h'
	      }
   withLabel: high_computation {
   	      cpus = 19
	      memory = 120.GB
	      time = '1d'
   }	      
}	

process {
   withName: QcFilter {
   	     container = 'alexcoppe/fastx'
   }
   withName: FastTree {
         container = 'pegi3s/fasttree'
   }
}
