/*
 * -------------------------------------------------
 *  Singularity config file
 * -------------------------------------------------
 * 
 */

params.script_dir = "/workspace"

env {
    PYTHONPATH = params.script_dir + ":${PYTHONPATH}"
}

singularity {
   enabled = true
   cacheDir = "${HOME}/.singularity_images.cache"
}

process {
   container = 'docker://nakor/pipeline-env'
   stageInMode = 'rellink'
   stageOutMode = 'rsync'   
}	

process {
   withName: QcFilter {container = 'docker://alexcoppe/fastx'}
   withName: FastTree {container = 'docker://pegi3s/fasttree'}
}
