/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    test = false
    enable_conda = false
    outdir = "$PWD/" + "ref_db"
    publish_dir_mode = "copy"
    ibol_release = 6.5
}

profiles {
  local {
    includeConfig '../../conf/container.config'
	includeConfig '../../conf/local.config'
  }
  local_test {
    includeConfig '../../conf/container.config'
	includeConfig '../../conf/local_test.config'
  }
  hpc {
  	includeConfig '../../conf/container.config'
    includeConfig '../../conf/hpc.config'
  }
  hpc_test {
    includeConfig '../../conf/container.config'
	includeConfig '../../conf/hpc_test.config'
  }
  gcp {
    includeConfig '../../conf/container.config'
    includeConfig '../../conf/gcp.config'
  }
  hpc_modules {
	includeConfig '../../conf/uhm_modules.config'
	includeConfig '../../conf/hpc.config'
  }
  hpc_modules_test {
	includeConfig '../../conf/uhm_modules.config'
	includeConfig '../../conf/hpc_test.config'
  }    
}
