/*
 * -------------------------------------------------
 *  Singularity config file
 * -------------------------------------------------
 * 
 */

params.script_dir = "/workspace"

env {
    PYTHONPATH = params.script_dir + ":${PYTHONPATH}"
}

singularity {
   enabled = false
   cacheDir = "${HOME}/.singularity_images.cache"
}

docker {
   enabled = false
   fixOwnership = true
   sudo = true
}

process {
   container = 'nakor/pipeline-env:1.1'
   stageInMode = 'rellink'
   stageOutMode = 'rsync'   
}	

process {
   withName: QcFilter {container = 'alexcoppe/fastx'}
   withName: FastTree {container = 'pegi3s/fasttree'}
}
