/*
 * -------------------------------------------------
 *  Singularity config file
 * -------------------------------------------------
 * 
 */

params.script_dir = "/workspace"

env {
    PYTHONPATH = params.script_dir + ":${PYTHONPATH}"
}

singularity {
   enabled = false
   cacheDir = "${HOME}/.singularity_images.cache"
}

docker {
   enabled = false
   fixOwnership = true
   sudo = true
}
