/*
 * -------------------------------------------------
 *  Google Cloud Platform config file
 * -------------------------------------------------
 *
 */


cloud.driver = "google"

google {
    project = "c-maiki-pipelines"
    zone = "us-west2-a,us-west2-b"
}

params {
    max_cpus   = 20
    max_memory = 90.GB
    max_time   = 72.h    
}

process {
    executor = "google-pipelines"

    withLabel: process_low {
        machineType = "n1-highmem-2"
        cpus = {check_max(1 * task.attempt, "cpus")}
        memory = {check_max(4.GB * task.attempt, "memory")}
        time = {check_max(1.h * task.attempt, "time")}
    }
    withLabel: process_medium {
        machineType = "n1-highmem-4"
        cpus = {check_max(2 * task.attempt, "cpus")}
        memory = {check_max(8.GB * task.attempt, "memory")}
        time = {check_max(4.h * task.attempt, "time")}
    }
    withLabel: process_high {
        machineType = "n1-highmem-16"
        cpus = check_max(10, "cpus")
        memory = {check_max(50.GB * task.attempt, "memory")}
        time = {check_max(6.h * task.attempt, "time")}
    }
}
