/*
 * -------------------------------------------------
 *  Google Cloud Platform config file
 * -------------------------------------------------
 *
 */

docker.enabled = true

executor {
    jobName = { "$task.tag" }
    queueSize = 4
}

cloud {
    driver = 'google'
}

google {
    project = 'c-maiki-pipelines'
    zone = 'us-west2-a,us-west2-b'
}

process {
    executor = 'google-pipelines'

    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
    maxRetries = 2

    withLabel: process_low {
        machineType = 'n1-highmem-2'
    }
    withLabel: process_medium {
        machineType = 'n1-highmem-4'
    }
    withLabel: process_high {
        machineType = 'n1-highmem-8'
    }
}
