/*
 * -------------------------------------------------
 *  Google Cloud Platform config file
 * -------------------------------------------------
 *
 */

docker.enabled = true

executor {
    queueSize = 4
    jobName = {"${task.process.tokenize(':')[-1]}.${task.tag}"}
}

cloud {
    driver = "google"
}

google {
    project = "c-maiki-pipelines"
    zone = "us-west2-a,us-west2-b"
}

process {
    executor = "google-pipelines"

    errorStrategy = "retry"
	maxErrors = "-1"
    maxRetries = 3

    withLabel: process_low {
        machineType = "n1-highmem-2"
		cpus = {check_max(1 * task.attempt, "cpus")}
		memory = {check_max(4.GB * task.attempt, "memory")}
		time = {check_max(1.h * task.attempt, "time")}
    }
    withLabel: process_medium {
        machineType = "n1-highmem-4"
		cpus = {check_max(2 * task.attempt, "cpus")}
		memory = {check_max(8.GB * task.attempt, "memory")}
		time = {check_max(4.h * task.attempt, "time")}
    }
    withLabel: process_high {
        machineType = "n1-highmem-16"
		cpus = check_max(10, "cpus")
		memory = {check_max(50.GB * task.attempt, "memory")}
		time = {check_max(6.h * task.attempt, "time")}
    }
}
