/*
 * -----------------------------------------------
 *  University of Hawaii at Manoa HPCC config file
 * -----------------------------------------------
 *
 */

singularity.enabled = true

executor {
    queueSize = 40
}

process {
    executor = "slurm"
    queue = "shared,shared-long,exclusive,exclusive-long,kill-shared,kill-exclusive"
    module = "tools/Singularity"

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? "retry" : "finish" }
    maxRetries = 2
    maxErrors = "-1"

    withLabel: process_low {
        cpus = {6 * task.attempt}
        memory = {32.GB * task.attempt}
        time = {2.h * task.attempt}
    }
    withLabel: process_medium {
        cpus = {10 * task.attempt}
        memory = {64.GB * task.attempt}
        time = {4.h * task.attempt}
    }
    withLabel: process_high {
        queue = "shared,shared-long,exclusive,exclusive-long"
        cpus = 19
        memory = {120.GB*(task.attempt==1 ? 1 : 0) +
                  500.GB*(task.attempt==2 ? 1 : 0) +
                  1000.GB*(task.attempt==3 ? 1 : 0)}
        time = {6.h*(task.attempt==1 ? 1 : 0) +
                24.h*(task.attempt==2 ? 1 : 0) +
                72.h*(task.attempt==3 ? 1 : 0)}
    }
    withLabel: "plot" {
        errorStrategy = "ignore"        
    }
    withName: "FAST_TREE|PHYLOSEQ_UNIFRAC|LULU" {
         errorStrategy = "ignore"
    }
}
