/*
 * -----------------------------------------------------
 *  University of Hawaii at Manoa HPCC test config file
 * -----------------------------------------------------
 *
 */

singularity.enabled = true

executor{
    queueSize = 3
}

process {
    executor = 'slurm'
    queue = 'shared,exclusive,kill-shared,kill-exclusive'
    module = 'tools/Singularity'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 2
    maxErrors = '-1'

    withLabel: process_low {
         cpus = 1
         memory = 4.GB
         time = 3.m
    }
    withLabel: process_medium {
         cpus = 2
         memory = 8.GB
         time = 6.m
    }
    withLabel: process_high {
         cpus = 3
         memory = 32.GB
         time = 30.m
    }
}
