/*
 * -----------------------------------------------------
 *  University of Hawaii at Manoa HPCC test config file
 * -----------------------------------------------------
 *
 */

singularity.enabled = true

executor{
    queueSize = 3
    jobName = {"${task.process.tokenize(':')[-1]}.${task.tag}"}
}

process {
    executor = 'slurm'
    queue = 'shared,exclusive,kill-shared,kill-exclusive'
    module = 'tools/Singularity'

    errorStrategy = "retry"
    maxErrors = "-1"
    maxRetries = 2

    withLabel: process_low {
         cpus = 1
         memory = 4.GB
         time = 3.m
    }
    withLabel: process_medium {
         cpus = 2
         memory = 8.GB
         time = 6.m
    }
    withLabel: process_high {
         cpus = 3
         memory = 32.GB
         time = 30.m
    }
}
