/*
 * ---------------------------------
 *  Config file for local machine
 * ---------------------------------
 *
 */

process {
    withLabel: process_low {
        cpus   = 1
        memory = 4.GB
        time   = 1.h
    }

    withLabel: process_medium {
        cpus   = 2
        memory = 16.GB
        time   = 7.d
    }

    withLabel: process_high {
        cpus   = 20
        memory = 90.GB
        time   = 14.d
    }
}

