/*
 * ---------------------------------
 *  Config file for medium resources
 * ---------------------------------
 *
 */

singularity.enabled = true
// docker.enabled = true

executor {
    jobName = { "$task.tag" }
    queueSize = 20
}

process {
    // container = 'nakor/pipeline-env:1.2'
    executor = 'local'
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
    maxRetries = 2

    withLabel: low_computation {
        cpus = 1
        memory = 4.GB
        time = '1h'
    }

    withLabel: medium_computation {
        cpus = 2
        memory = 16.GB
        time = '1d'
    }

    withLabel: high_computation {
        cpus = 20
        memory = 90.GB
        time = '7d'
    }
}

