/*
 * -----------------
 *  Test config file
 * -----------------
 *
 */

singularity.enabled = true

executor {
    queueSize = 3
}

process {
    executor = 'local'

    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
    maxRetries = 2

	withLabel: process_low {
		 cpus = 1
		 memory = 2.GB
		 time = 3.m
	}

	withLabel: process_medium {
		 cpus = 2
		 memory = 4.GB
		 time = 6.m
	}

	withLabel: process_high {
		 cpus = 2
		 memory = 7.GB
		 time = 30.m
	}
}
