/*
 * ---------------------------------
 *  Config file for medium resources
 * ---------------------------------
 *
 */

singularity.enabled = true

executor {
    queueSize = 20
}

process {
    executor = 'local'
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
    maxRetries = 2

    withLabel: process_low {
        cpus = 1
        memory = 4.GB
        time = '1h'
    }

    withLabel: process_medium {
        cpus = 2
        memory = 16.GB
        time = '1d'
    }

    withLabel: process_high {
        cpus = 20
        memory = 90.GB
        time = '7d'
    }
}

