/*
 * -----------------------------------------------
 *  University of Hawaii at Manoa HPCC config file
 * -----------------------------------------------
 *
 */


params {
    max_cpus   = 39
    max_memory = 900.GB
    max_time   = 7.d
}

process {
	executor = "slurm"
    queue = "shared,exclusive,kill-shared,kill-exclusive"
    module = "tools/Singularity"

    withLabel: process_low {
        cpus = {check_max(6 * task.attempt, "cpus")}
        memory = {check_max(32.GB * task.attempt, "memory")}
        time = {check_max(2.h * task.attempt, "time")}
    }
    withLabel: process_medium {
        cpus = {check_max(10 * task.attempt, "cpus")}
        memory = {check_max(64.GB * task.attempt, "memory")}
        time = {check_max(4.h * task.attempt, "time")}
    }
    withLabel: process_high {
        queue = "shared,shared-long,exclusive,exclusive-long"
        cpus = check_max(19, "cpus")
        memory = {
          check_max(
            120.GB*(task.attempt==1 ? 1 : 0) +
            500.GB*(task.attempt==2 ? 1 : 0) +
            1000.GB*(task.attempt==3 ? 1 : 0),
            "memory")
        }
        time = {
          check_max(
            6.h*(task.attempt==1 ? 1 : 0) +
            24.h*(task.attempt==2 ? 1 : 0) +
            72.h*(task.attempt==3 ? 1 : 0),
            "time")
        }
    }
    withLabel: "plot" {
        errorStrategy = "ignore"        
    }
    withName: "FAST_TREE|PHYLOSEQ_UNIFRAC|LULU" {
         errorStrategy = "ignore"
    }
}
