/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Pipeline Options
params {
    enable_conda = false
    outdir = "$PWD/" + "ITS-pipeline_outputs"
    publish_dir_mode = 'copy'

    paired_end = false
    locus = "ITS1"

    // QC
    keep_phix = true
    max_expected_error = 2

    min_read_count = 200

    // OTU clustering
    clustering_thresholds = "100,97"
 
    // Confidence confidence threshold for taxonomic assignment
    tax_confidence = 0.5

    // LULU parameters for merging a parent and a daughter OTU
    skip_lulu = false
 
    lulu_min_ratio_type = "min" // Function to compare the abundance of a parent OTU and its daughter (default: abundance=min(abundances over samples))
    lulu_min_ratio = 1 // Minimum abundance ratio between parent and daughter (across all samples)
    lulu_min_match = 97 // Identity between parent and daughter (max=100)
    lulu_min_rel_cooccurence = 1 // Proportion of the parent samples where daughter occurs (max=1)

    // postprocessing
    alpha_diversity = 'nseqs-sobs-chao-shannon-shannoneven'
    beta_diversity = 'braycurtis-thetayc-sharedsobs-sharedchao'
}

profiles {
  local {
    includeConfig '../conf/container.config'
	includeConfig '../conf/local.config'
  }
  local_test {
    includeConfig '../conf/container.config'
	includeConfig '../conf/local_test.config'
  }
  hpc {
  	includeConfig '../conf/container.config'
    includeConfig '../conf/hpc.config'
  }
  hpc_test {
    includeConfig '../conf/container.config'
	includeConfig '../conf/hpc_test.config'
  }
  gcp {
    includeConfig '../conf/container.config'
    includeConfig '../conf/gcp.config'
  }
}
