/*
 * -------------------------------------------------
 *  Local config file
 * -------------------------------------------------
 * 
 */

executor{
   jobName = { "$task.tag" }
   queueSize = 40
}

tower {
   enabled = false
}

process {
   executor = 'local'
   stageInMode = 'rellink'
   stageOutMode = 'rsync'
   queue = 'shared,shared-long,exclusive,exclusive-long,kill-shared,kill-exclusive'
   
   errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
   maxRetries = 2

   withLabel: "high_computation" {
      cpus = 20
      memory = 80G
   }

   withLabel: "low_computation" {
      cpus = 1
      memory = 4G
   }
}