/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 *
 */

executor{
    jobName = { "$task.tag" }
    queueSize = 40
}

env{
    PYTHONPATH = "${PWD}/python-packages:${PYTHONPATH}"
}

tower {
    enabled = false
}

process {
    executor = 'slurm'
    stageOutMode = 'rsync'
    queue = 'shared,shared-long,exclusive,exclusive-long,kill-shared,kill-exclusive'
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
    maxRetries = 2
    scratch = false

    withName: Fastqc {
        module = "bio/FastQC/0.11.8-Java-1.8.0_191"
    }

    withLabel: python {
        module = "lang/Python/3.7.2-intel-2018.5.274"
    }

    withLabel: low_computation {
      cpus = 1
      memory = 4G
      time = '2h'
    }

    withLabel: high_computation {
        cpus = {10*(task.attempt==1 ? 1 : 0) + 19*(task.attempt>1 ? 1 : 0)}
        memory = {60.GB*(task.attempt==1 ? 1 : 0) + 120.GB*(task.attempt==2 ? 1 : 0) + 500.GB*(task.attempt==3 ? 1 : 0)}
        time = {3.h*(task.attempt==1 ? 1 : 0) + 12.h*(task.attempt==2 ? 1 : 0) + 24.h*(task.attempt==3 ? 1 : 0)}
    }
}