/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    test = false
    enable_conda = false
    outdir = "$PWD/" + "COI-pipeline_outputs"
    single_end = false
    publish_dir_mode = "copy"
    ibol_release = 6.5
    translation_table_mapping_level = 'order'

    // Demultiplexing
    linked_bc = false
    combinatorial = false
    forward_bc = "5" // 5 prime or 3 prime
    reverse_bc = "5"

    // Read merging parameters
    merge_with = "PEAR"
    min_overlap = 20
    
    // PEAR parameters
    max_error_rate = 0.05
    min_contig_length = 250
    max_contig_length = 400
    quality_threshold = 20

    // DADA2 merging (not used if merging with PEAR)
    max_mismatch = 10
    
    // DADA2 quality filtering
    min_read_count = 200
    min_read_len = 20
    max_expected_error = 2
    trunc_quality = 2
    keep_phix = false
    pool = "T"
    trunc_len = "250,170"
    
    // Mothur parameters
    criteria = 95 // mothur optimization criteria
    min_aln_len = 50
    chimera_tool = "vsearch"
    taxa_to_filter = "Chloroplast-Mitochondria-unknown"
    clustering_thresholds = "100,99,97"
    min_abundance = 2 // Remove OTUs with a total abundance equal or below {min_abundance}
    compute_mothur_db = false
    classification_consensus = 20
	rdp_confidence = 0.5

    // Subsampling
    skip_subsampling = false
    subsampling_quantile = 0.10
    min_subsampling = 1000
    custom_subsampling_level = -1

    // LULU parameters for merging a parent and a daughter OTU
    skip_lulu = false
    lulu_min_ratio_type = "min" // Function to compare the abundance of a parent OTU and its daughter (default: abundance=min(abundances over samples))
    lulu_min_ratio = 1 // Minimum abundance ratio between parent and daughter (across all samples)
    lulu_min_match = 97 // Identity between parent and daughter (max=100)
    lulu_min_rel_cooccurence = 1 // Proportion of the parent samples where daughter occurs (max=1)

    // Postprocessing filters
    skip_unifrac = false
    alpha_diversity = 'nseqs-sobs-chao-shannon-shannoneven'
    beta_diversity = 'braycurtis-thetayc-sharedsobs-sharedchao'
    unifrac = 'weighted'
}

profiles {
  local {
    includeConfig '../conf/container.config'
	includeConfig '../conf/local.config'
  }
  local_test {
    includeConfig '../conf/container.config'
	includeConfig '../conf/local_test.config'
  }
  hpc {
  	includeConfig '../conf/container.config'
    includeConfig '../conf/hpc.config'
  }
  hpc_test {
    includeConfig '../conf/container.config'
	includeConfig '../conf/hpc_test.config'
  }
  gcp {
    includeConfig '../conf/container.config'
    includeConfig '../conf/gcp.config'
  }
  hpc_modules {
	includeConfig '../conf/uhm_modules.config'
	includeConfig '../conf/hpc.config'
  }
  hpc_modules_test {
	includeConfig '../conf/uhm_modules.config'
	includeConfig '../conf/hpc_test.config'
  }    
}
