/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
   jobName = { "$task.tag" }
   // Maximum number of parallel jobs
   queueSize = 40
}

params {
  max_time = 24.h
  // reads path on disks
  reads = "$HOME/lus/Data/class_data/*_R1*.fastq"
  // Path to RDP library
  RDP_path = "$HOME/progs/RDPTools"
  }

process {
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   // default queue
   queue = 'kill.q'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 13.GB
	      time = '8h'
	      queue = 'kill.q,community.q'
	      }

   withLabel: medium_computation {
   	      cpus = 20
	      memory = 64.GB
	      time = '3d'
	      queue = 'kill.q,community.q'
	      }
   withLabel: high_computation {
   	      cpus = 40
	      memory = 128.GB
	      time = '3d'
	      queue = 'lm.q'
   }	      
}	

process {
   withName: runFastQC {
   	     module="bioinfo/fastQC/0.11.4"
   }
   withName: ExtractITS {
   	     module=["wip/python/3.5.1/python",
		     "bioinfo/torognes/vsearch/2.7.1",
		     "bioinfo/HMMER/3.1b2",
		     "bioinfo/bbmap/38.25"]
   }
   withName: RemoveSmallAndNseqs{
   	     module="wip/python/3.5.1/python"
   }
   withName: QcFilter {
   	     module="bioinfo/fastx-toolkit/0.0.14"
   }
   withName: Dereplication {
   	     module="lang/R/3.5.1"
   }
   withName: ChimeraRemoval {
   	     module="bioinfo/torognes/vsearch/2.7.1"
   }
   withName: LearnErrors {
   	     module="lang/R/3.5.1"
   }
   withName: Denoise {
   	     module="lang/R/3.5.1"
   }
   withName: MakeEsvTable {
   	     module="lang/R/3.5.1"
   }
   withName: MergeFastas {
   	     module="wip/python/3.5.1/python"
   }
   withName: Clustering {
   	     module="bioinfo/torognes/vsearch/2.7.1"
   }
   withName: PreLulu {
   	     module="bioinfo/torognes/vsearch/2.7.1"
   }
   withName: Lulu {
   	     module="lang/R/3.5.1"
   }
   withName: ExtractFastaLulu {
   	     module="wip/python/3.5.1/python"
   }
   withName: ClassificationCONSTAX {
	     module=["lang/Java/1.8.0_66", "lang/R/3.5.1", "wip/python/2.7.11/python"]
   }
   withName: SummaryFile {
	     module="wip/python/3.5.1/python"
   }
}

