/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
   jobName = { "$task.tag" }
   queueSize = 20
}

params {
    uniteDB = "${PWD}/databases/unite_all_eukaryotes.fasta"
}

env {
   PYTHONPATH="${PWD}/Pipeline-16S/scripts/:${PWD}/python-packages/:${PYTHONPATH}"
   R_LIBS_USER="${PWD}/R-packages"
}

process {
   executor = 'slurm'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   queue = 'shared'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 16.GB
	      time = '1h'
	      queue = 'shared,exclusive,kill-shared'
	      }

   withLabel: medium_computation {
   	      cpus = 10
	      memory = 32.GB
	      time = '3h'
	      queue = 'shared,exclusive,kill-shared'
	      }
   withLabel: high_computation {
   	      cpus = 19
	      memory = 120.GB
	      time = '1d'
	      queue = 'shared,exclusive,kill-shared'
   }
}	

process {
   withName: ExtractITS {
   	     module=["lang/Python/3.7.2-GCCcore-8.2.0",
		     "bio/VSEARCH/2.9.1-foss-2018b",
		     "bio/HMMER/3.2.1-foss-2018b",
		     "bio/BBtools/38.46"]
   }
   withName: RemoveSmallAndNseqs{
   	     module="lang/Python/3.7.2-GCCcore-8.2.0"
   }
   withName: QcFilter {
   	     module="bio/FASTX-Toolkit/0.0.14"
   }
   withName: Dereplication {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: ChimeraRemoval {
   	     module="bio/VSEARCH/2.11.1"
   }
   withName: LearnErrors {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: Denoise {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: MakeEsvTable {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: MergeFastas {
   	     module="lang/Python/3.7.2-GCCcore-8.2.0"
   }
   withName: Clustering {
   	     module="bio/VSEARCH/2.11.1"
   }
   withName: PreLulu {
   	     module="bio/VSEARCH/2.11.1"
   }
   withName: Lulu {
   	     module="lang/R/3.5.1-intel-2018.5.274-Python-2.7.15"
   }
   withName: ExtractFastaLulu {
   	     module="lang/Python/3.7.2-GCCcore-8.2.0"
   }
   withName: ClassificationSintax {
	     module="bio/VSEARCH/2.11.1"
   }
   withName: SummaryFile {
	     module="lang/Python/3.7.2-GCCcore-8.2.0"
   }
}

