/*
 * -------------------------------------------------
 *  Poire server config file
 * -------------------------------------------------
 * 
 */

executor{
   jobName = { "$task.tag" }
   queueSize = 15
}

params {
  max_time = 24.h
  uniteDB = "$PWD/databases/unite_all_eukaryotes.fasta"
}

process {
   executor = 'local'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 4.GB
	      time = '2h'
	      }

   withLabel: medium_computation {
   	      cpus = 8
	      memory = 16.GB
	      time = '1d'
	      }
	      
   withLabel: high_computation {
   	      cpus = 19
	      memory = 90.GB
	      time = '3d'
   }	      
}	


