/*
 * -------------------------------------------------
 *  University of Hawaii at Manoa cluster config file
 * -------------------------------------------------
 * 
 */

executor{
   // jobName = { "$task.tag" }
   queueSize = 5
}

params {
  max_time = 48.h
  reference = "$HOME/C-MAIKI/1-Fungi/uniteDB_01-12-2017.fasta"
  reads = "$HOME/C-MAIKI/0-Data/Amend_CMAIKI-Miseq1-98678996/demultiplexed/*_R1.fastq.gz"
}

process {
   executor = 'local'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'

   withLabel: low_computation {
   	      cpus = 4
	      memory = 32.GB
	      time = '8h'
	      }

   withLabel: medium_computation {
   	      cpus = 10
	      memory = 32.GB
	      time = '3d'
	      }
   withLabel: high_computation {
   	      cpus = 20
	      memory = 64.GB
	      time = '3d'
   }
}

