/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat

// Pipeline Options
params {
  // timestamp for output directory
  timestamp = new SimpleDateFormat("yyyy-MM-dd").format(new java.util.Date())
  outdir = "$PWD/" + "Results-ITS_" + timestamp

  // possible choices for error handling: ignore, retry, terminate
  errorsHandling = "terminate"
  // Are reads paired-end?
  pairEnd = false
  // Which locus?
  locus = "ITS1"
  // Quality filtering
  // keeps reads with {minPercentHighQ} % of bases above {minQuality}
  minQuality = 25
  minPercentHighQ = 90
  // minimum read length
  minLen = 20
  // Minimum sample sizes
  minReads = 50
  minDerep = 5
}

profiles {
  manoa_hpc{
    includeConfig 'conf/manoa_hpc.config'
  }
  radis {
    includeConfig 'conf/radis.config'
  }
  poire {
    includeConfig 'conf/poire.config'
  }  
}
