/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat

// Pipeline Options
params {
  timestamp = new SimpleDateFormat("yyyy-MM-dd").format(new java.util.Date())
  outdir = "$PWD/" + timestamp + "-ITS-results"
  errorsHandling = "retry"
  
  // Quality filtering
  minQuality = 25
  minPercentLowQ = 90
  minLen = 20
  minReads = 50
  minDerep = 5

  // Taxonomy
  taxa = 'Fungi'
  taxaMinId = 0.8
}

profiles {
  manoa{
    includeConfig 'conf/manoa_hpc.config'
  }
  radis {
    includeConfig 'conf/radis.config'
  }
  poire {
    includeConfig 'conf/poire.config'
  }  
}
