/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat
params {
  outdir = "$PWD/" + "16S-pipeline_outputs/"
  singleEnd = false // use reverse read or not

  // Pre-filtering
  minReads = 50

  // Dada2 quality filtering
  truncLen = "c(220,190)"
  minLength = "c(20,20)"
  maxEE = "c(3,3)"
  truncQ = "c(2,2)"
  rmphix = "TRUE"

  // Dada2 merging parameters
  minOverlap = 20
  maxMismatch = 1
  
  // Mothur parameters
  criteria = 95 // mothur optimization criteria
  taxaToFilter = "Bacteria;Proteobacteria;Alphaproteobacteria;Rickettsiales;Mitochondria;-Bacteria;Cyanobacteria;Oxyphotobacteria;Chloroplast;-unknown;" // set to empty string for no filter
  subsamplingQuantile = 0.10 // (min=0, max=1)
  minSubsamplingLevel = 5000
  customSubsamplingLevel = -1
  skipSubsampling = false

  clusteringThresholds = "100,99,97"

  // LULU parameters for merging a parent and a daughter OTU
  min_ratio_type = "min" // Function to compare the abundance of a parent OTU and its daughter (default: abundance=min(abundances over samples))
  min_ratio = 1 // Minimum abundance ratio between parent and daughter (across all samples)
  min_match = 97 // Identity between parent and daughter (max=100)
  min_rel_cooccurence = 1 // Proportion of the parent samples where daughter occurs (max=1)

  // Postprocessing filters
  minAbundance = 2 // Remove OTUs with a total abundance equal or below {minAbundance}
}

timeline {
  enabled=false
}

report {
  enabled=false
}

profiles {
  manoa_hpc{
    includeConfig '../conf/manoa_hpc.config'
  }
  local{
    includeConfig '../conf/local.config'
  }
  docker{
    includeConfig '../conf/docker.config'
  }
  gcp{
    includeConfig '../conf/gcp.config'
  }  
}

