/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

// Global default params
import java.text.SimpleDateFormat

params {
  outdir = "$PWD/" + "demultiplexed"
  max_mismatches = 3
  n_per_file = 1e6
  n_bases = 1e5
  matching = "auto"
  singleBarcoded = false
  singleEnd = false
  reverseComplement = false
}

profiles {
  local {
    includeConfig '../conf/container.config'
	includeConfig '../conf/local.config'
  }
  local_test {
    includeConfig '../conf/container.config'
	includeConfig '../conf/local_test.config'
  }
  hpc {
  	includeConfig '../conf/container.config'
    includeConfig '../conf/hpc.config'
  }
  hpc_test {
    includeConfig '../conf/container.config'
	includeConfig '../conf/hpc_test.config'
  }
  gcp {
    includeConfig '../conf/container.config'
    includeConfig '../conf/gcp.config'
  }
  hpc_modules {
	includeConfig '../conf/uhm_modules.config'
	includeConfig '../conf/hpc.config'
  }
  hpc_modules_test {
	includeConfig '../conf/uhm_modules.config'
	includeConfig '../conf/hpc_test.config'
  }    
}
